.news-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-bottom: 26px;
}
.news-article h4 {
  font-size: 24px;
}
.news-article a:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-bottom: 4px solid #388e3c;
}
.news-article a:nth-child(2) {
  border-bottom: 4px solid #d32f30;
}
.news-article a:nth-child(3) {
  border-bottom: 4px solid #ffc107;
}
.news-article a:nth-child(4) {
  border-bottom: 4px solid #1464b5;
}
.news-article a:nth-child(5) {
  border-bottom: 4px solid #388e3c;
}
.news-article a:first-child .thumb {
  padding-bottom: 30%;
  background-size: cover;
  background-position: center center;
  flex: 1;
}
.news-article .thumb {
  padding-bottom: 30%;
  background-size: cover;
  background-position: center center;  
}
.news-article a:nth-child(4) .thumb {
  padding-bottom: 0;
  background-image: none !important;
}
.news-article a:nth-child(5) .thumb {
  padding-bottom: 0;
  background-image: none !important;
}
.news-article .desc {
  padding: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  background-color: #09357a;
  color: #fff;
  height: 136px;
}
.news-article .desc h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.article-row-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-bottom: 26px;
}
.article-row-items a{
  border-bottom: 4px solid #d32f30;
}
.article-row-items .second-row-card {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;  
}
.article-row-items h4 {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden; 
}
.article-row-items .desc {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  background-color: #09357a;
  color: #fff;
}
.article-sport .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;  
}
.article-sport .desc {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  background-color: #09357a;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .news-article {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 26px;
  }
  .article-header-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .news-article .item {
    /* grid-row-start: 2 */
    grid-column: 1;
    grid-row: 1;
  }
  .article-row-items {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 28px;
  }
  .article-sport {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .news-article {
    /* display: block; */
    grid-template-columns: auto;
  }
  .article-sport {
    grid-template-columns: auto;
  }
  .article-row-items {
    grid-template-columns: auto;
  }
  .article-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
