.dropdown {
  border: 1px solid #ddd;
  position: relative;
  font: inherit;
  height: 36px;
  border-radius: 4px;  
}
.dropdown button {
  border-radius: 6px;
  min-width: 264px;
  border: 0;
  padding: 6px 24px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.dropdown .dropdown-icon{
  width: 24px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  padding: 6px 24px;
  background: #fff;
  border: 1px solid #ddd;  
  transition: 0.1s;
  top: 36px;
}
ul li {
  padding: 6px 0;
  cursor: pointer;
}
.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
