.article-sport {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-bottom: 26px;
}
.article-sport a {
  border-bottom: 4px solid #d32f30;
}
.article-sport .item-card {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
.article-sport .desc h4 {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sport-article-header h2 {
  font-size: 24px;
  margin: 10px 0;
}
