@font-face {
  font-family: 'GeorgiaSemibold';
  src: url('./assets/fonts/GeorgiaPro-Semibold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'GeorgiaRegular';
  src: url('./assets/fonts/GeorgiaPro-CondRegular.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'GeorgiaBold';
  src: url('./assets/fonts/GeorgiaPro-Bold.ttf');
  font-weight: bold;
}

body {
  color: #212121;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  min-height: 800px;
  font-family: GeorgiaRegular, Arial, Helvetica, sans-serif;  
}
a {
  text-decoration: none;
  color: inherit;
}
.article{
  min-height: 700px;
}